@import url("https://fonts.cdnfonts.com/css/minecraftia");

*,
*::before,
*::after {
    font-family: "Minecraftia", sans-serif !important;
    -webkit-text-stroke: 0px !important;
    outline: none !important;
    text-shadow: 2px 2px #3f3f3f !important;
}

::-webkit-scrollbar {
    width: 7px !important;
}

::-webkit-scrollbar-track {
    background: #8b8b8b !important;
    border: 2px solid !important;
    border-color: #373737 #FFFFFF #FFFFFF #373737 !important;
}

::-webkit-scrollbar-thumb {
    background: #ffffff !important;
    border-radius: 0px !important;
}

.banner-helper {
    display: none !important;
}

.fragility {
    background: #000 !important;
}

.pocket-wrapper .key,
.creative-list-wrapper.creative-list-cl .mode-selector-layout .active.mode-selector,
.wrapper-backpack .mode-selector-layout .active.mode-selector,
.work-bench .title,
.work-bench .content .item-desc,
.base-button.primary.craftable.btn-craft,
.base-button.primary.btn-craft .bg-top,
.base-button.primary.btn-craft .bg-middle,
.base-button.primary.btn-craft .bg-bottom,
.base-button.primary.btn-craft .blick,
.base-button.primary.launch .bg-top,
.base-button.primary.launch .bg-middle,
.base-button.primary.launch .bg-bottom,
.base-button.primary.launch .blick,
.furnace .content .title .line,
.base-button.primary.launch.active-furnace {
    display: none !important;
}

.game .item,
.img.craft-img {
    background-color: #8b8b8b !important;
    border: 3px solid !important;
    border-color: #373737 #FFFFFF #FFFFFF #373737 !important;
    border-radius: 0px !important;
    --hover-outline: 1px solid #f5c396;
}

.pocket {
    background-color: transparent !important;
    border: black 4px solid !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding: 44px 3px !important;
}

.pocket .item-wrapper .item {
    background: rgba(43, 44, 48, .72) !important;
    border-color: #212121 transparent transparent #212121 !important;
    outline: solid 7px #757575 !important;
}

.pocket .item-wrapper .item.active {
    outline: #fbfbfb solid 8.5px !important;
    box-shadow: 0 0 0 12px #000000 !important;
    border-color: #acbda8 #c6d9c1 #c6d9c1 #acbda8 !important;
    z-index: 100;
}

.pocket .backpack {
    background: #737762 !important;
    border: 3px solid !important;
    border-right: 5px solid !important;
    border-bottom: 5px solid !important;
    border-color: #686965 #5a5c50 #5a5c50 #686965 !important;
    outline: solid 7px #757575 !important;
    border-radius: 0px !important;
}

.pocket .backpack .circle {
    background: #b4bcba !important;
    border: #76837d solid 2px !important;
}

.pocket .backpack .x-key {
    display: none !important;
}

.items-manager .categories {
    flex-direction: row-reverse !important;
    gap: 6px !important;
    margin-top: -36px !important;
    margin-left: 90px !important;
}

.items-manager .category {
    background: #8b8b8b !important;
    border: solid 3px !important;
    border-color: #FFFFFF #565656 transparent #FFFFFF !important;
    border-radius: 0px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    outline: 3px solid #000 !important;
}

.items-manager .category:hover,
.mode-selector-layout .mode-selector:hover {
    transform: none !important;
}

.items-manager .category.active-category {
    background-color: #218206 !important;
    border-color: #67a54f #316733 transparent #67a54f !important;
    outline: 3px solid #e4e8dd !important;
}

.creative-list-wrapper.creative-list-cl .mode-selector-layout .mode-selector {
    margin-right: -15px !important;
}

.wrapper-backpack .mode-selector-layout .mode-selector {
    margin-right: -5px !important;
}

.mode-selector-layout .mode-selector {
    background: #8b8b8b !important;
    border: solid 3px !important;
    border-color: #FFFFFF #565656 transparent #FFFFFF !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    outline: 3px solid #000 !important;
}

.armor {
    border-color: #373737 #FFFFFF #FFFFFF #373737 !important;
}

.armor-1 .icon-armor,
.armor-2 .icon-armor,
.armor-3 .icon-armor,
.armor-4 .icon-armor {
    display: none !important;
}

.armor-1,
.armor-2,
.armor-3,
.armor-4 {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 90% !important;
}

.armor-1 {
    background-image: url("https://p.novaskin.me/5491023110.png") !important;
}

.armor-2 {
    background-image: url("https://p.novaskin.me/6557645976633344.png") !important;
}

.armor-3 {
    background-image: url("https://p.novaskin.me/5505433630.png") !important;
}

.armor-4 {
    background-image: url("https://p.novaskin.me/5355607171268608.png") !important;
}

.armor-3.rarity-0,
.armor-3.rarity-1,
.armor-3.rarity-2 {
    background: #8b8b8b !important;
}

.avatar-wrapper {
    position: relative !important;
}

.avatar-wrapper .armor {
    position: absolute !important;
    left: 0 !important;
    right: auto !important;
    width: 100px !important;
    height: 100px !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    transform: none !important;
    background-color: #8b8b8b !important;
    border: 4.5px solid !important;
    border-color: #373737 #FFFFFF #FFFFFF #373737 !important;
    border-radius: 0 !important;
}

.avatar-wrapper .armor-1 {
    top: 105px !important;
}

.avatar-wrapper .armor-2 {
    top: 207px !important;
}

.avatar-wrapper .armor-3 {
    top: 3px !important;
}

.avatar-wrapper .armor-4 {
    top: 309px !important;
}

.avatar-wrapper .icon-armor {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}

.creative-list,
.furnace,
.chest {
    background: #C0C0C0 !important;
    border: 4px solid !important;
    border-color: #FFFFFF #565656 #565656 #FFFFFF !important;
    border-radius: 5px !important;
    outline: solid 3px #000000 !important;
}

.work-bench .content {
    background-color: #C0C0C0 !important;
    border: 4px solid !important;
    border-color: #FFFFFF #565656 #565656 #FFFFFF !important;
    border-radius: 5px !important;
    outline: solid 3px #000000 !important;
    width: 620px !important;
}

.furnace .content {
    background: transparent !important;
    border: none !important;
}

.furnace .content .progress .progress-line .fraction {
    background: #8b8b8b !important;
}

.furnace .content .progress .progress-line:has(.active.fraction) .fraction {
    background: #fff !important;
}

.furnace .content .progress .progress-line:has(.active.fraction) .active.fraction {
    background: #8b8b8b !important;
}

.quantity-btn,
.base-button.primary.btn-craft {
    background: #8b8b8b !important;
    border: 3px solid !important;
    border-color: #b5b5b5 #434343 #434343 #b5b5b5 !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    outline: #000 1px solid !important;
}

.quantity-btn {
    font-size: 13px !important;
}

.base-button.primary.btn-craft {
    width: 186px !important;
}

.base-button.primary.launch {
    background: #8b8b8b !important;
    border: 5px solid !important;
    border-color: #b5b5b5 #434343 #434343 #b5b5b5 !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    outline: #000 2px solid !important;
}

.work-bench .content .items {
    width: 370px !important;
    background: #373737 !important;
    border: 3px solid !important;
    border-color: #000000 #FFFFFF #FFFFFF #000000 !important;
    padding: 10px 5px !important;
    margin-left: 8px !important;
    margin-top: 7px !important;
    height: 410px !important;
}

.work-bench .content .craft-items {
    margin-top: 10px !important;
}

.work-bench .content .preview {
    position: absolute !important;
    margin-top: 340px !important;
    right: 25px !important;
}

.work-bench .content .preview .quantity {
    position: absolute !important;
    margin-top: 60px !important;
}

.work-bench .content .preview .preview-item {
    display: none !important;
}

.work-bench .content .items .item {
    width: 78px;
    height: 73px;
    background: #d64747 !important;
    border-color: #dd5e5f #642e2f #642e2f #dd5e5f !important;
}

.work-bench .content .items .item .img {
    opacity: 1;
}

.work-bench .content .items .item.active-craft {
    background: #8a8a8a !important;
    border-color: #969696 #5f5d5f #5f5d5f #969696 !important;
}

.work-bench .content .items .item.active-craft.active {
    background: #ccd0ff !important;
    border-color: #eef4ff #7378a0 #7378a0 #eef4ff !important;
}

.left-backpack-cont {
    background-color: #C0C0C0 !important;
    border: 3.5px solid !important;
    border-color: #FFFFFF #565656 #565656 #FFFFFF !important;
    border-radius: 5px !important;
    width: 885px !important;
    outline: solid 3px #000000 !important;
}

.avatar-scene {
    background: #000 !important;
    margin-left: 102px !important;
    border: 3px solid !important;
    border-color: #373737 #FFFFFF #FFFFFF #373737 !important;
    border-radius: 0px !important;
}

.items-manager .bg-click-area {
    background: rgba(0, 0, 0, 0.28) !important;
}

.hand-craft {
    background: #494949 !important;
    border-radius: 0px !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border: solid 4px !important;
    border-color: #737477 #302e30 transparent #737477 !important;
    outline: solid 3px #000 !important;
    z-index: -1 !important;
    margin-top: -0.5px !important;
    margin-left: -2.5px !important;
}

.hand-craft .crafts .item {
    outline: 3px solid #000 !important;
    border-color: #696969 #e4e4e4 #e4e4e4 #696969 !important;
    transform: scale(0.92);
    background: #8b8b8b !important;
}

.crafts .item .img,
.crafts .item .count {
    opacity: 1 !important;
}

.hand-craft .crafts .active-craft.item {
    background: #c4c4c5 !important;
    border-color: #e4e4e4 #696969 #696969 #e4e4e4 !important;
}
